html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.container > .banner {
  background-color: #F5F3F3;
  position: absolute;
  z-index: 2;
}

.container > .banner {
  width: 100%;
  height: 200px;
  min-height: 200px;
  max-height: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  position: absolute;
  left: 0px;
  top: calc((100% - 200px) / 2);
  z-index: 10;
}
.container > .banner > p {
  color: #0D47A1;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 13px;
}

.container > .banner > p {
  color: #0D47A1;
  height: auto;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.container > .banner > p > p {
  margin: 3px 6px;
}

.container > .banner > p > i {
  color: #BDBDBD;
}

.container > .banner > p > i:before {
  display: inline-block;
  color: #0D47A1;
  content: "send";
  position: relative;
  top: 0px;
  left: 23px;
  z-index: 1;
  transition: 400ms left ease-in-out;
  -webkit-transition: 400ms left ease-in-out;
}

.container > .banner > a.active > i:before, .container > .banner > a:hover > i:before,
.container > .banner > a:focus > i:before {
  animation: paper-plane 4s ease-in-out;
  -webkit-animation: paper-plane 4s ease-in-out;
}

.heading {
  color: #222;
}

.text {
  font-family: Josefin Sans, sans-serif;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.text.nodecoration {
  text-decoration: none;
  cursor: pointer;
}

.text.black {
  color: #444;
}

.text.white {
  color: #F5F3F3;
}

.text.outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

.text.outline.white {
  -webkit-text-stroke-color: #FCFCFC;
}

.text.outline.black {
  -webkit-text-stroke-color: #444;
}

.offwhite-light {
  background-color: #FCFCFC;
}

.offwhite-dark {
  background-color: #F5F3F3;
}

.shadow {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.26);
}

.shadow.bottom {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}

.shadow.top {
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.26);
}

.shadow.tobo {
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.26), 0px 2px 5px rgba(0, 0, 0, 0.26);
}

.flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex.vertical {
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.flex.horizontal {
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
